 
  <section class="user-info">
<ul>
    <li class="pt-3" style="font-size:20px; color:#B0C4DE;">User Name</li>
     <p><%=@user.name%></p>
    <li style="font-size:20px; color:#B0C4DE;">User Biography</li>
     <p><%=@user.bio%></p>
    <li style="font-size:20px; color:#B0C4DE;">Category</li>
     <p style="paddong-bottom: 10px;"><%=@user.curiosity%></p>
</ul>
  </section>

