
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <% @followings.each do |following|%>
    <div class="media text-muted pt-3">
       <%=render "image", user: following%> 
      <section class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark"><%=link_to following.name, following %></strong> 
       <p style="padding-left: 15px;"><%=following.bio%></p>
      </section>
    </div>
    <%=paginate @followings%>
 <%end%>
 </div>


