<footer class="mainFooter">
    <div class="inner">
         <ul class="footerlist">
             <li><a href="#">ABOUT US</a></li>
             <li><a href="#">HOW TO USE</a></li>
             <li><a href="#">CONTACT</a></li>
             <li><a href="#">LINKS</a></li>
             <li><a href="#">LICENCE</a></li>
        </ul>
    </div>
</footer>